<!DOCTYPE html>
<html>
<head>
<title>DIGITAL GRAVEYARD</title>
</head>
    <body>

        <div id='info'>
            <p id='length'>{{length}}</p>
            <ul id='tweets'>{% for tweet in tweets %}
                <div id="names_and_users">
                    <p id='name'>{{tweet[0]}}</p>
                    <p id='user'>{{tweet[1]}}</p>
                    <p id='time'>{{tweet[2]}}</p>
                </div>
                 {% endfor %}
            </ul>
        </div>

        <div id="search-bar">
            <input id="field" type="text" maxlength=25 placeholder="Search..." required>
            <input id='button' type='button' value='Search'>
        </div>

        <div id="menu">
            <ul>
                <li id='candle'>candle</li>
                <li id='flowers'>flowers</li>
            </ul>
        </div>

        <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

        <script src='static/js/jquery-2.1.1.js' type="text/javascript"></script>
        <!-- <script src='static/js/jquery-2.1.1.min.js' type="text/javascript"></script> -->
        <!-- <script src="static/js/three.min.js" type="text/javascript"></script> -->
        <script src="static/js/three.js" type="text/javascript"></script>
        <script src="static/js/Detector.js" type="text/javascript"></script>
        <script src="static/js/my_controls.js" type="text/javascript"></script>
        <script src="static/js/helvetiker_regular.typeface.js" type="text/javascript"></script>
        <script src="static/js/loaders/OBJLoader.js" type="text/javascript"></script>
        <script src="static/js/ImprovedNoise.js" type="text/javascript"></script>

<script type="application/x-glsl" id="sky-vertex">

varying vec2 vUV;

void main() {
  vUV = uv;
  vec4 pos = vec4(position, 1.0);
  gl_Position = projectionMatrix * modelViewMatrix * pos;
}
</script>

<script type="application/x-glsl" id="sky-fragment">
uniform sampler2D texture;
varying vec2 vUV;

void main() {
  vec4 sample = texture2D(texture, vUV);
  gl_FragColor = vec4(sample.xyz, sample.w);
}
</script>



<script>

// DETECT INCOMPATIBLE BROWSERS AND DEVICES
    if ( ! Detector.webgl ) Detector.addGetWebGLMessage();


// CONSTANTS AND VARIABLE DECLARATIONS
    var PI_2 = Math.PI / 2;
    var NUM_ROWS = 3;
    var ROW_SPACE_WIDTH = 30;
    var BACKGROUND_COLOR = 0x000000;
    var FOG_COLOR = 0x000000;
    var CAMERA_HEIGHT = 20;

    var num_tweets = parseInt(document.getElementById('length').innerHTML);
    var ul, user, name, time;
    var candle, flowers, item;
    var date = new Date();
    var utc_offset = date.getTimezoneOffset();

    var plane, texture;
    var worldWidth = 256, worldDepth = 256,
    worldHalfWidth = worldWidth / 2, worldHalfDepth = worldDepth / 2;


// GET THE INFO FROM THE DOM
    var tweetArray = Array( num_tweets );
    for (var i = 0; i < num_tweets; i++) {
        ul = document.getElementById('tweets');
        name = ul.getElementsByTagName('div')[i].childNodes[1].innerHTML;
        user = ul.getElementsByTagName('div')[i].childNodes[3].innerHTML;
        time = ul.getElementsByTagName('div')[i].childNodes[5].innerHTML;
        time = adjust_to_users_timezone(time);
        tweetArray[i] = {name: name, user: user, time: time};
    }


// INIT SCENE, CAMERA, CLOCK AND RENDERER
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(60, window.innerWidth/window.innerHeight, 1, 5000);
    var clock = new THREE.Clock();

    var renderer = new THREE.WebGLRenderer({ alpha: true , antialias: true });
    renderer.setClearColor( BACKGROUND_COLOR, 1);
    renderer.setSize(window.innerWidth, window.innerHeight);

    renderer.shadowMapEnabled = true;
    renderer.shadowMapSoft = true;

    document.body.appendChild(renderer.domElement);


// SET THE CAMERA POSITION AND DIRECTION
    camera.setLens(60)
    camera.position.setY(CAMERA_HEIGHT);
    camera.position.setZ(100);
    scene.add( camera );


// CONTROLS
    var controls = new MyControls( camera );


// SET UP THE TERRAIN
    data = generateHeight( worldWidth, worldDepth );
    var geometry = new THREE.PlaneGeometry( 1000, 1000, worldWidth - 1, worldDepth - 1 );
    geometry.applyMatrix( new THREE.Matrix4().makeRotationX( - Math.PI / 2 ) );

    for ( var i = 0, l = geometry.vertices.length; i < l; i ++ ) {
        geometry.vertices[ i ].y = data[ i ] * .1;
    }

    var texture = THREE.ImageUtils.loadTexture( 'static/images/sandtexture.jpg' )
    texture.wrapS = THREE.RepeatWrapping;
    texture.wrapT = THREE.RepeatWrapping;
    texture.repeat.set( 20, 20 );
    texture.needsUpdate = true;

    plane = new THREE.Mesh( geometry, new THREE.MeshLambertMaterial( { map: texture } ) );
    plane.receiveShadow = true;
    scene.add( plane );


// LIGHTS

    var scale = 15;
    var bulb_geo = new THREE.SphereGeometry( .1 );
    var bulb_material = new THREE.MeshLambertMaterial( {color: 0x26ce46, opacity: .6} );

    for (var i = 1; i < 21; i++) {
        var z = -Math.sin(0.157 * i) * scale
        var x = Math.cos(0.157 * i) * scale
        var pointlight = new THREE.PointLight( 0xffffff, .1, 200 );
        pointlight.position = new THREE.Vector3(x, 20, z);
        camera.add( pointlight );
    }

    // var sphereSize = 3;
    // var pointLightHelper = new THREE.PointLightHelper( pointlight, sphereSize );
    // scene.add( pointLightHelper );
    // camera.add(pointlight);

    // var blue_light = new THREE.DirectionalLight( 0xffffff, 1 );
    // blue_light.position.set(-100,100,0);
    // scene.add(blue_light);

    var red_light = new THREE.DirectionalLight( 0xffffff, .5 );
    red_light.position.set(100,100,0);
    scene.add(red_light);

    var hemisphereLight = new THREE.HemisphereLight(0xd2d3d5,0x634b3d, .5 );
    hemisphereLight.position.set(1, 40, -20).normalize();
    scene.add(hemisphereLight);

    // var flashlight = new THREE.SpotLight(0x454546, .5, 500, Math.PI/2 );
    // camera.add(flashlight);
    // flashlight.position.set(0,20,10);
    // // flashlight.target = camera;
    // flashlight.shadowDarkness = .3;
    // flashlight.shadowMapHeight = 2048;
    // // flashlight.shadowCameraFov = 120;


// FOG
    scene.fog = new THREE.Fog( 0x431a43, 200, 450 );


// MODEL
    var loader = new THREE.OBJLoader();
    loader.load( 'static/models/candle.obj', function (obj) {
        obj.scale.set(.1, .1, .1);
        candle = obj;
    });

    loader.load( 'static/models/plants1.obj', function (obj) {
        obj.scale.set(.01, .01, .01);
        flowers = obj;
    });

// SKYBOX

    sky_texture = new THREE.ImageUtils.loadTexture( 'static/images/nightskysquare.jpg' );
    var geometry = new THREE.SphereGeometry(1500, 60, 40);
    var uniforms = {
      texture: { type: 't', value: sky_texture }
    };

    var material = new THREE.ShaderMaterial( {
      uniforms:       uniforms,
      vertexShader:   document.getElementById('sky-vertex').textContent,
      fragmentShader: document.getElementById('sky-fragment').textContent,
      fog: false
    });

    skyBox = new THREE.Mesh(geometry, material);
    skyBox.scale.set(-1, 1, 1);
    skyBox.rotation.order = 'XZY';
    skyBox.renderDepth = 1000.0;
    scene.add(skyBox);



// ADD GRAVES AND TEXT

    var POSITION_X;
    var POSITION_Z = 0;
    var graveArray = Array(num_tweets);
    var ripArray = Array(num_tweets);
    var nameArray = Array(num_tweets);
    var userArray = Array(num_tweets);
    var timeArray = Array(num_tweets);

    var parameters = {
        size: .5,
        height: .1,
        font: "helvetiker",
        curveSegments: 3,
        style: 'normal',
        weight: 'normal',
        bevelEnabled : false, };


    var geometry = new THREE.BoxGeometry( 10, 30, 10);
    var RIPgeometry = new THREE.TextGeometry( '# R I P', parameters );

    var grave_material = new THREE.MeshPhongMaterial( { color: 0x000000, shininess: 50 } );
    var text_material = new THREE.MeshLambertMaterial( { color: 0xebb98d } )

    for( var i = num_tweets-1, j = 0; i >= 0; i--, j++) {

        console.log( i , NUM_ROWS)

        if (j / NUM_ROWS == 1) {
            NUM_ROWS += 4
            POSITION_Z -= 100;
            j = 0;
        }

        POSITION_X = j % NUM_ROWS * ROW_SPACE_WIDTH - (NUM_ROWS * ROW_SPACE_WIDTH) / 2;

        graveArray[i] = new THREE.Mesh( geometry, grave_material);
        graveArray[i].position.x = POSITION_X;
        graveArray[i].position.z = POSITION_Z;
        graveArray[i].position.y = 10;
        graveArray[i].castShadow = true;
        graveArray[i].receiveShadow = true;

        ripArray[i] = new THREE.Mesh(RIPgeometry, text_material);
        ripArray[i].position.x = POSITION_X - 3;
        ripArray[i].position.z = POSITION_Z + 5;
        ripArray[i].position.y = 20;
        ripArray[i].receiveShadow = true;
        ripArray[i].castShadow = false;

        var name_geometry = new THREE.TextGeometry(tweetArray[i].name, parameters);
        nameArray[i] = new THREE.Mesh(name_geometry, text_material);
        nameArray[i].position.x = POSITION_X - 3;
        nameArray[i].position.z = POSITION_Z + 5;
        nameArray[i].position.y = 19;
        nameArray[i].name = tweetArray[i].name;
        nameArray[i].castShadow = true;
        nameArray[i].receiveShadow = false;

        var user_geometry = new THREE.TextGeometry('@' + tweetArray[i].user, parameters);
        userArray[i] = new THREE.Mesh(user_geometry, text_material);
        userArray[i].position.x = POSITION_X - 3;
        userArray[i].position.z = POSITION_Z + 5;
        userArray[i].position.y = 16;
        userArray[i].name = tweetArray[i].user;
        userArray[i].castShadow = true;
        userArray[i].receiveShadow = false;

        var time_geometry = new THREE.TextGeometry(tweetArray[i].time, parameters);
        timeArray[i] = new THREE.Mesh(time_geometry, text_material);
        timeArray[i].position.x = POSITION_X - 3;
        timeArray[i].position.z = POSITION_Z + 5;
        timeArray[i].position.y = 15;
        timeArray[i].name = tweetArray[i].time;
        timeArray[i].castShadow = true;
        timeArray[i].receiveShadow = false;
    }


// ADJUST THE TIME OF THE TWEET TO CLIENT'S LOCAL TIMEZONE
    function adjust_to_users_timezone (time) {
        var new_time = time * 1000 + utc_offset * 60000; // convert to miliseconds, get
        var new_date = new Date(new_time)
        return new_date.toLocaleString()
    }


// DEAL WITH WINDOW RESIZING
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
        controls.handleResize()
    };


// PLACE THE ITEM (CANDLE OR FLOWERS)
    function placeItem( event ) {
        scene.add( item.clone() );
    };
    function cancelPlacing( ) {
        document.removeEventListener( 'click', placeItem, false)
    }


// FIND DISTANCE TO EACH GRAVE
    function checkZones() {
        checkOuterZone();
        checkInnerZone();
    };
    function checkInnerZone() {
        for( var i = 0; i < num_tweets; i++ ){
            if (camera.position.distanceTo(graveArray[i].position) < 450) {
                scene.add( graveArray[i]);
                scene.add( ripArray[i] );
                scene.add( userArray[i] );
                scene.add( nameArray[i] );
                scene.add( timeArray[i] );
            }
        }
    };
    function checkOuterZone() {
      for( var i = 0; i < num_tweets; i++ ){
            if (camera.position.distanceTo(graveArray[i].position) > 451) {
                scene.remove( graveArray[i]);
                scene.remove( ripArray[i] );
                scene.remove( userArray[i] );
                scene.remove( nameArray[i] );
                scene.remove( timeArray[i] );
            }
        }
    };


    function FollowCursor( event ) {
        var mouseX = ( event.clientX / window.innerWidth ) * 2 - 1;
        var mouseY = -( event.clientY / window.innerHeight ) * 2 + 1;

        var vector = new THREE.Vector3( mouseX, mouseY, camera.near );

        // Convert the [-1, 1] screen coordinate into a world coordinate on the near plane
        var projector = new THREE.Projector();
        projector.unprojectVector( vector, camera );

        var raycaster = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );

        // See if the ray from the camera into the world hits one of our meshes
        var intersects = raycaster.intersectObject( plane );
        lastIntersects = intersects;

        // Toggle rotation bool for meshes that we clicked
        if ( intersects.length > 0 ) {

            item.position.copy( intersects[ 0 ].point );
        }
    };


    function onChoosingCandle (event) {
        scene.remove(item)
        item = candle;
        scene.add(item);
        document.addEventListener( 'mousemove', FollowCursor, false );
        event.stopPropagation();
        document.removeEventListener('click', onChoosingFlowers, false);
        document.addEventListener( 'click', placeItem, false);

    };

    function onChoosingFlowers (event) {
        scene.remove(item)
        item = flowers;
        scene.add(item);
        document.addEventListener( 'mousemove', FollowCursor, false );
        event.stopPropagation();
        document.removeEventListener('click', onChoosingCandle, false);
        document.addEventListener( 'click', placeItem, false);
    };


    function animate(){
        requestAnimationFrame( animate );
        controls.update(clock.getDelta());
        renderer.render(scene, camera);
    };


    function getInput (event) {
        if (event.type == 'keyup') {
            if (event.keyCode == 13) {
                findAndGoToGrave(event);
            }
        } else if (event.type == 'click') {
            findAndGoToGrave(event);
        }
    }


    function findAndGoToGrave(event) {
        var search = document.getElementById('field').value;
        for ( var i = nameArray.length-1; i >=  0; i--) {
            if (nameArray[i].name == search) {
                var new_camera_position = nameArray[i].position.clone();
                new_camera_position.setZ(nameArray[i].position.z + 75);
                new_camera_position.setY(CAMERA_HEIGHT)
                camera.position = new_camera_position;
                camera.lookAt(nameArray[i].position)
                break;

            }
        }
    }


    function generateHeight( width, height ) {
        var size = width * height;
        data = new Uint8Array( size );
        perlin = new ImprovedNoise();
        quality = 1;
        z = Math.random();

        for ( var j = 0; j < 4; j ++ ) {
            for ( var i = 0; i < size; i ++ ) {
                var x = i % width, y = ~~ ( i / width );
                data[ i ] += Math.abs( perlin.noise( x / quality, y / quality, z ) * quality * 1.75 );
            }
            quality *= 5;
        }
        return data;
    }


    window.addEventListener( 'resize', onWindowResize, false );
    document.addEventListener( 'readystatechange', checkZones, false);
    document.addEventListener( 'keydown', checkZones, false);
    document.addEventListener('click', FollowCursor, false);
    document.addEventListener('change', function () { render(); });

    var field = document.getElementById('field');
    var button = document.getElementById('button');
    field.addEventListener('keyup', getInput, false);
    button.addEventListener('click', getInput, false);

    var candle_element = document.getElementById('candle')
    var flowers_element = document.getElementById('flowers')
    var menu = document.getElementById('menu')
    menu.addEventListener( 'hover', cancelPlacing, false);
    candle_element.addEventListener('click', onChoosingCandle, false);
    flowers_element.addEventListener('click', onChoosingFlowers, false);

    animate();

        </script>
    </body>
</html>
